<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orhrm.tests.CustomerServiceContact"/>
      <class name="com.orhrm.tests.Sumit"/>
      <class name="com.orhrm.tests.SearchingTest"/>
      <class name="com.orhrm.tests.LoginTest"/>
      <class name="com.orhrm.tests.NewTest"/>
      <class name="com.orhrm.tests.Test2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
